@media (hover: hover) {
    /* … */
}

/* This CSS will apply styles only if your browser's viewport width is equal to or narrower than 1250px*/
@media (max-width: 1250px) {
    /* … */
}

/* Define the color of text within the span tag as red */
span{
    color: #FF0000;
}

/* Set size and position of the image in brainstorming section */
.image{
    position: relative;
    width: 41cm;
    height: 1000px;
    margin-top: 1mm;
    margin-left: 10vw;
    margin-bottom: 5vh;
    margin-right: 10vw;
}

.header{
    font-size: 2em;
    margin: auto;
    position: static;
}

.video{
    margin: 50px 500px 50px 500px;
}

.audio{
    margin: 50px 500px 50px 770px;
}

#box{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
  }

  .joking:hover, .emotion:hover{
      color: red;
  }

* {
    font-family: fantasy;
}

ol[target]{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 10px;
}

details summary{
    padding: 10px 10px 10px 0px;
}

details{
    display: block;
}

main{
    display: inline;
}

main > p{
    max-width: 50%;
}

h3 + div{
    color:darkred;
    min-width: 100%;
}

hr ~ details{
    color:red;
}

button:active{
    color:blue;
}

.action-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}


.project-container{
    display: inline-gird;
    grid-template-rows: auto;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-areas: none;
}

